{% extends 'base.html.twig' %}

{% block caroussel %}
    
{% endblock %}

{% block content %}
    <!-- Three columns of text below the carousel -->
        <h2>Nos meilleures ventes.</h2>
        <p>Découvrez les articles les plus vendus.</p>
        <div class="row">
            {% for product in products %}              
                    <div class="col-md-3">
                        {% include "product/_single_product.html.twig" %}
                    </div>
            {% endfor %}
            
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Une équipe fan de mode. <span class="text-muted">Avec des pros expérimentés...</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum distinctio incidunt neque voluptatem ad at, fugiat iusto commodi voluptas exercitationem deleniti consequatur quisquam nisi aut esse. Aperiam reiciendis soluta eos!</p>
            </div>
            <div class="col-md-5">
                <img src="{{asset('assets/img/homePage1.jpg')}}" class="img-fluid" alt="GM_Web- My Ecommerce - La mode pour tous">               
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Visitez notre site, <span class="text-muted">mais aussi nos boutiques en France.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quia laboriosam in, molestiae aut rerum reprehenderit similique omnis officia soluta quasi, exercitationem enim alias ex eligendi? Error aspernatur fuga quis?</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="{{asset('assets/img/homePage2.jpg')}}" class="img-fluid" alt="GM_Web- My Ecommerce - Des couleurs audacieuses">               

            </div>
        </div>


        <!-- /END THE FEATURETTES -->
{% endblock %}