{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content %}

<div class="jumbotron">
    <h1 abbr_class="display-4"></h1>
    <p class="lead">Bienvenue dans l'interface d'administration de votre site internet</p>
    <a href="{{ path('app_home') }}">Retour sur la page home.</a>
</div>
    
{% endblock %}