html {
    font-size: 62.5%;
}

body {
    position: relative;
}

.navbar-item-custom,
.navbar-item-custom a {
    color: white;
}

.footer-custom {
    text-align: center;
    position: absolute;
    width: 100%;
    background-color: #dfeaff;
    padding-top: 2.5rem;
    margin-top: 8rem;
}

.product-item {
    margin-top: 2.5rem;
}

.product-item h5 {
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 1;
}

.product-item .product-subtitle {
    font-size: 1.4rem;
    display: block;
    margin-bottom: 1rem;
}

.product-item .product-price {
    font-size: 2rem;
    font-weight: bold;
}

.product-container {
    margin-bottom: 18rem;
}

.product-page-price {
    font-size: 4rem;
    font-weight: bold;
}

.cart-icon {
    height: 2rem;
    padding-left: 2rem;
}

.quant-plus,
.quant-moins {
    display: inline-block;
    margin: 0 0.5rem 0.2rem 0.5rem;
    height: 0.8rem;
}

.block-small {
    max-width: 60rem;
    margin: 0 auto;
}

.col-form-label {
    font-weight: bold;
}

.form-check {
    background-color: #dfeaff;
    padding: 2rem 6.5rem;
    margin-top: 1.3rem;

    display: flex;
    align-items: center;
}

.form-check label {
    margin-left: 1rem;
}

.order-summary {
    background-color: #dfeaff;
    padding: 2rem;
    margin-top: 2.2rem;
}
